GROQ_API_KEY='x'

LITELLM_API_KEY='x'
LITELLM_API_BASE="x"
LITELLM_LLM_PROVIDER=x

POCKETBASE_URL=x
POCKETBASE_EMAIL=x
POCKETBASE_PASSWORD=x

SECRET=x

AWS_REGION=x
AWS_SECRET_ACCESS_KEY=x
AWS_ACCESS_KEY_ID=x
MODEL=x

AGENT_RUNTIME_ARN=x

AWS_ATLAS_ECR_REPOSITORY_URI=x
AWS_ATLAS_POCKETBASE_REPOSITORY_URI=x
AWS_ATLAS_EAST_2_REPO=x
CLUSTER_ARN=x
URL_PREFIX=x